
/*-- Regular font -- */
:root{
    --brand-color: #FC93AD;
    --brand-grey: #FEFDFB;
    --brand-dark: #1F1F1F;
    --brand-color-dark: #AA0144;
    --brand-color-peach: #F8E6DF;
    --brand-color-background-text: #FCE1D7;
}
* {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p{
    margin-top: 0;
    margin-bottom: 0;
}
body{
    background-color: var(--brand-dark);
    font-family: 'Playful_Display', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}
/* -- Links --*/
.link{
    color:var(--brand-color);
    text-align: center;
    text-decoration: none;
}
.link:hover{
    color: var(--brand-color-dark);
}
/*.link:last-child{
  color:var(--brand-color);
  background-color: var(--brand-dark);
  border: 4px solid var(--brand-color-dark);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  padding: 8px;
  font-size: 17px;
}*/
.modal-btn-open{
    color:var(--brand-color);
    background-color: var(--brand-dark);
    border: 4px solid var(--brand-color-dark);
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 17px;
    margin-top: 5px;
    margin-right: 50px;
    margin-bottom: 0;
    text-decoration: none;
    padding: 15px 30px;
}
.modal-btn-open:hover{
    background-color: var(--brand-color-dark);
    color: var(--brand-dark);
}
/* -- Header -- */
.logo{
    background-color: var(--brand-color);
    margin: 0;
    padding: 0;
}
.header-container{
    display: flex;
    align-items: center;
    gap: 40px;
    border-bottom: 1px solid var(--brand-color)
}
.header-nav{
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 40px;
    cursor: pointer;
    margin: 0px;
}
.header-menu{
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* -- Hero-section --*/
.hero-section .part1{
    padding-top: 252px;
    padding-bottom: 0;
    background-image: url(./images/hero_main1.jpg);
    background-repeat:no-repeat;
    background-position: center top;
    background-size: contain;
    border-left: solid 5px var(--brand-color-dark);
    border-right: solid 5px var(--brand-color-dark);
}
.hero-section .part2{
    background-color: var(--brand-dark);
    background-repeat:no-repeat;
    background-position: center top;
    margin: 0;
}
.hero-title{
    color: var(--brand-grey);
    font-family: 'Playfair_Display', serif;
    font-size: 128px;
    margin-bottom: 48px;
    text-align: center;
    line-height: 1;
    font-weight: 900;
}
.hero-section .part3{
    padding-bottom: 192px;
    background-image: url(./images/hero_main2.jpg);
    background-repeat:no-repeat;
    background-position: center top;
    background-size: contain;
    border-left: solid 5px var(--brand-color-dark);
    border-right: solid 5px var(--brand-color-dark);
}
/* -- Me-section --*/
.name-section{
  border-left: solid 5px var(--brand-color-dark);
  border-right: solid 5px var(--brand-color-dark);
}
.span-name{
  font-style: italic;
  color: var(--brand-color);
}
.name-section-text{
    padding: 10px;
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    color: var(--brand-dark);
    position: relative;
    font-family: 'Playfair_Display', serif;
    font-weight: 200;
    border-bottom: var(--brand-color) 1px solid;
}
.name-section-title{
    font-style: italic;
    font-family: 'Playfair_Display', serif;
    font-weight: 600;
    font: 40px solid;
    text-align: center;
    color: var(--brand-color);
    transform: translateY(100px);
    border-bottom: var(--brand-color) 1px solid;
    border-top: var(--brand-color) 1px solid;
    margin: 0;
}
.me-section{
    max-width: 710px;
    background-color: var(--brand-color-background-text);
    /*border: 1px solid;*/
    /*border-radius: 16px;*/
    align-self: right;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    display: flex;
}
.me-section-about {
    height: auto;
    overflow: hidden;
    border: var(--brand-color) solid 1px;
    padding: 20px;
    padding-left: 30px;
    color: var(--brand-color-peach);
    top: 10%;
}
.container_outer_img{
  position: relative;
  top: 5%;
  left: 3%;
  width: 50%;
  margin-right: 0;
}
.container_img{
  margin-left: 40%;
  margin-top: 35%;
  overflow: hidden;
  width: 100%;
}
.img-inner{
  width:50%;
  height:80%;
  align-items: center;
  position: relative;
  left: 25%;
}
/*-- Footer --*/
.footer-container{
  background-image: url('./images/footer-background.png');
  border-top: 1px solid var(--brand-color);
}
.footer-menu{
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer-nav{
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 40px;
    cursor: pointer;
    margin: 0px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: -10;
}
.link-footer{
  color:var(--brand-color);
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}
.link-footer:hover{
  color: var(--brand-color-dark);
}
.name-section-content {
 width: 100%;
 margin-left: 0; 
 top: 10%;
 position: relative;
}

.name-section-inner {
  width: 80%;
  margin-left: 0; /* added*/
}
p{
  line-height: 28px;
  /*transform: translateY(300px);*/
  /*animation: slideUp .8s ease-in-out forwards .8s;*/
}

.title {
  overflow: hidden;
  height: auto;
}
/* -- Modal --*/
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  transition: opacity .3s, visibility .3s;
}
.backdrop.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal{
  position: relative;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  padding: 110px;
  background-color: var(--brand-color);
  border-radius: 32px;
}
.modal-btn-close{
  position: absolute;
  top: 40px;
  right: 40px;
}

/* -- Form -- */
.form-field{
  margin-bottom: 32px;
  position:relative;
  gap: 20px;
}
.form-label{
  position: absolute;
  left: 42px;
  top: 16px;
  font-size: 16px;     
  line-height: 1.17;
  color: var(--color-secondary-dark);
  transition: transform 0.3s;
}
.form-input:focus + .form-label{
  transform: translate(-36px, -40px);   
}  
.form-input{
  padding: 16px 42px;
  width: 100%;
  border: 4px solid var(--color-secondary-dark);
  border-radius: 8px;
  font-size: 16px;
  line-height: 1.17;
}
.form-input:focus{
  border-color: var(--color-brand-light);
  outline: none;
}
.form-button{
  display: block;
  margin: 0 auto 24px;
}
.form-p{
  padding: 30px;
  width: 880px;
  font-size: 17px;
}
.form-button{
  font-size: 20px;
  color:var(--brand-color);
  background-color: var(--brand-dark);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 9px;
  /*margin-right: 15px;
  margin-bottom: 0;*/
  text-decoration: none;
  padding: 12px;
}
.name-section-gallery{
  font-style: italic;
  font-family: 'Playfair_Display', serif;
  font-weight: 600;
  font: 40px solid;
  text-align: center;
  color: var(--brand-color);
  transform: translateY(100px);
  border-bottom: var(--brand-color) 1px solid;
  border-top: var(--brand-color) 1px solid;
  margin: 0;
  position:absolute;
}
.gallery-section {
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
  position: relative;
  display: flex;
}

.gallery {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
  border-top: solid 15px var(--brand-dark);
}
.item {
  width: 200px;
  height: 300px;
  border-bottom: solid 10px var(--brand-dark);
  border-top: solid 10px var(--brand-dark);
  list-style-type: none;
  position: absolute;
  top: 25%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 20px 30px rgba(255,255,255,0.3) inset;
  transition: transform 0.3s, left 0.9s, top 0.9s, width 0.9s, height 0.9s;

  &:nth-child(1), &:nth-child(2) {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: none;
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
  }

  &:nth-child(3) { left: 80%; }
  &:nth-child(4) { left: calc(80% + 220px); }
  &:nth-child(5) { left: calc(80% + 440px); }
  &:nth-child(6) { left: calc(80% + 660px); }
  &:nth-child(7) { left: calc(80% + 880px); }
  &:nth-child(8) { left: calc(80% + 1100px); }
  &:nth-child(9) { left: calc(80% + 1320px); }
  &:nth-child(10) { left: calc(80% + 1540px); }
  &:nth-child(11) { left: calc(80% + 1760px); }
  &:nth-child(12) { left: calc(80% + 1980px); }
  &:nth-child(13) { left: calc(80% + 2200px); opacity: 0;}
}

.content {
  width: min(30vw,400px); 
  position: absolute;
  top: 75%;
  left: 2.5rem;
  /*border: var(--brand-color) 1px solid;*/
  transform: translateY(-50%);
  font: 400 0.85rem helvetica,sans-serif;
  color: white;
  text-shadow: 0 3px 8px rgba(0,0,0,0.5);
  opacity: 0;
  display: none;
  background-color: black;
  padding: 15px;
}
.title {
    font-family: 'arial-black';
    text-transform: uppercase;
}

.description {
    line-height: 1.7;
    margin: 1rem 0 1.5rem;
    font-size: 0.8rem;
    /*top: 50%;*/
}

button {
    width: fit-content;
    background-color: rgba(0,0,0,0.1);
    color: white;
    border: 2px solid white;
    border-radius: 0.25rem;
    padding: 0.75rem;
    cursor: pointer;
}


.item:nth-of-type(2) .content {
  display: block;
  animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
  0% {
    filter: blur(5px);
    transform: translateY(calc(-50% + 75px));
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.nav {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  user-select: none;

  & .btn {
    background-color: rgba(255,255,255,0.5);
    color: rgba(0,0,0,0.7);
    border: 2px solid rgba(0,0,0,0.6);
    margin: 0 0.25rem;
    padding: 0.75rem;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: rgba(255,255,255,0.3);
    }
  }
}

@media (width > 650px) and (width < 900px) {
  .content {
    & .title        { font-size: 1rem; }
    & .description  { font-size: 0.7rem; }
    & button        { font-size: 0.7rem; }
  }
  .item {
    width: 160px;
    height: 270px;

    &:nth-child(3) { left: 50%; }
    &:nth-child(4) { left: calc(50% + 170px); }
    &:nth-child(5) { left: calc(50% + 340px); }
    &:nth-child(6) { left: calc(50% + 510px); opacity: 0; }
  }
}

@media (width < 650px) {
  .content {
    & .title        { font-size: 0.9rem; }
    & .description  { font-size: 0.65rem; }
    & button        { font-size: 0.7rem; }
  }
  .item {
    width: 130px;
    height: 220px;

    &:nth-child(3) { left: 50%; }
    &:nth-child(4) { left: calc(50% + 140px); }
    &:nth-child(5) { left: calc(50% + 280px); }
    &:nth-child(6) { left: calc(50% + 420px); opacity: 0; }
  }
}


